In [1]:
!python -m pip install pymongo

Requirement already satisfied: pymongo in c:\users\predator\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\predator\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pymongo) (2.2.1)

In [4]:
import pymongo

In [6]:
new_client = pymongo.MongoClient('mongodb://localhost:27017/')

new_db = new_client['new_data']

new_col = new_db['new_students']

list_of_students = [
    { "_id": 1, "name": "student00", "code": "code00" },
    { "_id": 2, "name": "student01", "code": "code01" },
    { "_id": 3, "name": "student02", "code": "code02" },
    { "_id": 4, "name": "student03", "code": "code03" },
    { "_id": 5, "name": "student04", "code": "code04" },
    { "_id": 6, "name": "student05", "code": "code05" }
]

adding_many = new_col.insert_many(list_of_students) # Insert an iterable of documents.

print(adding_many.inserted_ids)

[1, 2, 3, 4, 5, 6]

In [7]:
finding = new_col.find_one() # Get a single document from the database.
print(finding)

{'_id': 1, 'name': 'student00', 'code': 'code00'}

In [9]:
for row in new_col.find(): # Query the database.
    print(row)

{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

In [14]:
new_query = { "code": {"$gt": "code"} }

new_doc = new_col.find(new_query)

for x in new_doc:
  print(x)

{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

In [15]:
new_query = new_col.find().sort("name", -1) # Descendant order.

for n in new_query:
    print(n)

{'_id': 6, 'name': 'student05', 'code': 'code05'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 1, 'name': 'student00', 'code': 'code00'}

In [16]:
new_query = {"code": "code01"}
 
new_col.delete_one(new_query) # Delete a single document matching the filter - only first is deleted if it matches many.

for x in new_col.find():
    print(x)

{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

In [17]:
new_q = {"code": {"$regex": "^code03"}} # Starts with "code03"

x = new_col.delete_many(new_q) # Delete one or more documents matching the filter.

print(x.deleted_count, "documents deleted from the collection!")

1 documents deleted from the collection!

In [18]:
remove_all = new_col.delete_many({})

print(remove_all.deleted_count, "documents deleted from the collection")

4 documents deleted from the collection

In [19]:
new_col.drop()

In [20]:
import pymongo

new_client = pymongo.MongoClient('mongodb://localhost:27017/')

new_db = new_client['new_data']

new_col = new_db['new_students']

list_of_students = [
    { "_id": 1, "name": "student00", "code": "code00" },
    { "_id": 2, "name": "student01", "code": "code01" },
    { "_id": 3, "name": "student02", "code": "code02" },
    { "_id": 4, "name": "student03", "code": "code03" },
    { "_id": 5, "name": "student04", "code": "code04" },
    { "_id": 6, "name": "student05", "code": "code05" }
]

adding_many = new_col.insert_many(list_of_students)

In [21]:
new_q = { "code": "code00" }
new_vals = { "$set": {"code": "codeZero"} }

new_col.update_one(new_q, new_vals) # Update a single document matching the filter.

for x in new_col.find():
    print(x)

{'_id': 1, 'name': 'student00', 'code': 'codeZero'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

In [22]:
result_filter = new_col.find().limit(3) # Limits the number of results to be returned by this cursor.

for x in result_filter:
    print(x)

{'_id': 1, 'name': 'student00', 'code': 'codeZero'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}